# Miscellaneous
*.java.hsp
*.sonarj
*.sw*
.DS_Store
build.sh
integration-repo
ivy-cache
argfile*
activemq-data/
classes/

# Log files
jxl.log
jmx.log
derby.log

# Gradle artifacts
.gradle
.gradletasknamecache
/build
buildSrc/build
/spring-*/build
/framework-bom/build
/framework-docs/build
/integration-tests/build
/src/asciidoc/build
spring-test/test-output/
/gradle/
!/gradle/wrapper/gradle-wrapper.jar

# Maven artifacts
pom.xml
/target/

# Eclipse artifacts, including WTP generated manifests
bin
.classpath
.project
.settings
.springBeans
spring-*/src/main/java/META-INF/MANIFEST.MF

# IDEA artifacts and output dirs
/.idea/
*.ipr
*.iws
*.iml
*.log
*.tmp
*.tmp.*
*.swp
*.swt
*.hprof
out/
.idea/
*.iml
.idea_modules/

# VS Code
.vscode/

# Spring Boot-specific
/target/
!.mvn/wrapper/maven-wrapper.jar

# Heroku-specific
*.heroku*

/src/test/
